.search-form {
  display: flex;
  justify-content: center;

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

.search-form input[type="search"] {
  max-width: 320px;
  min-width: 200px;
  width: 100%;
  margin-right: 25px;
  padding: 6px 0;
  border: none;
  border-bottom: 1px solid $border-color--dark;

  &::placeholder {
    color: $text-color--gray;
  }

  &:focus {
    outline: none;
  }

  &:focus::placeholder {
    color: $text-color--main;
    outline: none;
  }
}

.search-form button {
  transition: all 0.3s;
  border: none;
  line-height: 19px;
  font-weight: 500;
  background: none;
  color: $main-color;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .search-form input[type="search"] {
    max-width: none;
  }
}