$desktop-width: 1220px;
$tablet-width: 1023px;
$tablet-continer-width: 933px;
$mobile-width: 767px;
$mobile-continer-width: 737px;
$main-font: "Rubik", "Arial", sans-serif;
$main-color: #e5261e;
$main-color--dark: #cc221b;
$black-color--main: #333333;
$gray-color: #828282;
$gray-color--midle: #bdbdbd;
$gray-color--light: #bfbfbf;
$gray-color--lighter: #f2f2f2;
$white-color: #ffffff;
$blue-color: #1f4766;
$text-color--main: $black-color--main;
$text-color--lighter: $white-color;
$text-color--light: $gray-color--lighter;
$text-color--gray: $gray-color;
$text-color--decor: $main-color;
$link-color: $blue-color;
$bg-color--clear: $white-color;
$bg-color--light: $gray-color--lighter;
$bg-color--midle: $gray-color--midle;
$bg-color--dark: $black-color--main;
$border-color--decor: $main-color;
$border-color--dark: $black-color--main;
$shadow-color--light: $gray-color--light;
